@use 'styles';

.container {
  font-family: styles.$font-family-primary;
  padding: 15px;
  background-color: #f9f9f9;
  border: 1px solid #eee;
  border-radius: 6px;

  p {
    margin: 0 0 12px 0;
    font-weight: bold;
  }

  .poke_gems {
    color: styles.$poke_gems_base;
  }

  .tcg_gems {
    color: styles.$tcg_gems_base;
  }

  .poke_relics {
    color: styles.$poke_relics_base;
  }

  .btn {
    margin-right: 8px;
  }
}
