@use 'styles';

.btn {
  font-family: styles.$font-family-primary;
  font-size: styles.$font-size-primary;
  padding: 8px 16px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;

  &:hover {
    filter: brightness(0.95);
  }

  &.poke_gems {
    background: linear-gradient(180deg, styles.$poke_gems_base 0%, styles.$poke_gems_deep 100%);
  }

  &.tcg_gems {
    background: linear-gradient(180deg, styles.$tcg_gems_base 0%, styles.$tcg_gems_deep 100%);
    color: styles.$primary_color;
  }

  &.poke_relics {
    background: linear-gradient(180deg, styles.$poke_relics_base 0%, styles.$poke_relics_deep 100%);
  }
}
