@use 'styles';

.btn {
  font-family: tahoma, arial, serif;
  padding: 8px 16px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;

  &:hover {
    filter: brightness(0.95);
  }

  &.poke_gems {
    background-color: styles.$poke_gems;
  }

  &.tcg_gems {
    background-color: styles.$tcg_gems;
    color: #000;
  }

  &.poke_relics {
    background-color: styles.$poke_relics;
  }
}
