$poke_gems_base: #3664ae; // Pokémon Blue
$poke_gems_deep: #1b3664; // Deep Navy
$tcg_gems_base: #ffcb03; // Pokémon Yellow
$tcg_gems_deep: #e0a300; // Deep Gold
$poke_relics_base: #c1272d; // Moroccan Red
$poke_relics_deep: #7a1114; // Deep Crimson
$primary_color: #333333; // Dark Gray
