@use 'styles';

.container {
  font-family: styles.$font-family-primary;
  padding: 15px;
  background-color: #f9f9f9;
  border: 1px solid #eee;
  border-radius: 6px;
  display: grid;
  grid-template-columns: 2fr max-content;
  align-items: end;
  gap: 20px;
}

.labelHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}

.fieldGroup {
  &:last-child {
    margin-bottom: 0;
  }

  label {
    display: block;
    margin-bottom: 4px;
  }

  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: styles.$font-size-primary;
  }

  .inputWrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;

    input {
      padding-right: 40px;
    }
  }

  .clearBtn {
    position: absolute;
    right: 12px;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.2s ease;

    svg {
      width: 18px;
      height: 18px;
    }

    &:focus {
      outline: none;
    }
  }
}
