<div class="ebay-listing">
  <h1 class="ebay-listing__heading ebay-listing__h1">{{ title }} - UK Seller - No reserve</h1>
  <div class="ebay-listing__wrapper">
    <div class="ebay-listing__main-section">
      <h2 class="ebay-listing__heading">Description</h2>
      <p>
        For sale is a top of the range and fully upgraded {{ title }} complete with all original contents. Wiped clean
        and restored to factory default settings ready for the new owner to setup straight from the welcome screen.
      </p>
      <p>Keyboard replaced under recall by Apple approximately a year ago, so keyboard is as good as new.</p>
      <p>
        Item is used and in excellent condition with no visible wear and tear as its always been kept in a laptop
        case/shell. Only reason for sale is because I have recently purchased the latest model.
      </p>
      <p>Grab a bargain, there is no reserve!</p>

      <p><strong>Features</strong></p>
      <ul>
        <li><strong>Processor</strong>: 2.9GHz Quad-Core Intel Core i7</li>
        <li><strong>Memory</strong>: 16GB 2133 MHz LPDDR3</li>
        <li><strong>Display</strong>: 15.4" (2880 x 1800)</li>
        <li><strong>Graphics</strong>: Intel HD Graphics 530 1536 MB</li>
        <li><strong>Hard disk</strong>: 1TB</li>
      </ul>
    </div>

    <div class="ebay-listing__sub-section">
      <div class="ebay-listing__payment">
        <h3 class="ebay-listing__heading">Payment</h3>
        <p>
          Only bid if you are genuinely interested in purchasing, no time wasters please! Paypal payment must be made
          within 48 hours. Returns are not provided.
        </p>
        <p>
          Please also
          <strong>
            <a href="http://shop.ebay.co.uk/merchant/pro.jdm_W0QQ_nkwZQQ_armrsZ1QQ_fromZQQ_mdoZ"
              >check out my other auctions</a
            ></strong
          >.
        </p>
      </div>

      <div class="ebay-listing__shipping">
        <h3 class="ebay-listing__heading">Shipping</h3>
        <p>
          All packages are shipped via a tracked delivery service either via dpd or a similar courier. Please note all
          serial numbers are recorded prior to the item being dispatched.
        </p>
        <p><strong>No International shipping or collection so please don't ask.</strong></p>
      </div>
    </div>
  </div>

  <div class="ebay-listing__footer">Designed by <span>Creative Developments.net</span></div>
</div>
