<div class="ebay-listing">
  <h1 class="ebay-listing__heading ebay-listing__h1">
    {{ title }} - UK Seller - No reserve
  </h1>
  <div class="ebay-listing__wrapper">
    <div class="ebay-listing__main-section">
      <h2 class="ebay-listing__heading">Description</h2>
      <p>
        For sale is a {{ title }}. Phone has always had a screen protector on as
        well as being inside a case so the phone and screen etc are in excellent
        condition but some minor wear and tear should be expected. 2 spare
        screen protectors included as the current fitted one has some wear and
        tear. Also included are two different cases.
      </p>
      <p>
        <strong
          >Please note earphones, charger and cable are not included.</strong
        >
      </p>

      <p><strong>Features</strong></p>
      <ul>
        <li>6.5-inch Super Retina HD display with OLED technology</li>
        <li>A12 Bionic chip with Next-generation Neural Engine</li>
        <li>Talk time (wireless) up to 25 hours</li>
        <li>Gigabit-class LTE with 4x4 MIMO and LAA</li>
        <li>802.11ac Wi‑Fi with 2x2 MIMO</li>
        <li>Bluetooth 5.0 wireless technology</li>
        <li>NFC with reader mode</li>
        <li>Dual 12MP wide-angle and telephoto cameras</li>
        <li>2x optical zoom; digital zoom up to 10x</li>
        <li>4K video recording, 1080p HD video recording</li>
        <li>7MP TrueDepth camera with Portrait mode and lighting</li>
        <li>Face ID</li>
        <li>Siri</li>
        <li>Apple Pay</li>
        <li>208g and 0.76cm (7.34 ounces and 0.30 inch)</li>
      </ul>
    </div>

    <div class="ebay-listing__sub-section">
      <div class="ebay-listing__payment">
        <h3 class="ebay-listing__heading">Payment</h3>
        <p>
          Only bid if you are genuinely interested in purchasing, no time
          wasters please! Paypal payment must be made within 48 hours. Returns
          are not provided.
        </p>
        <p>
          Please also
          <strong>
            <a
              href="http://shop.ebay.co.uk/merchant/pro.jdm_W0QQ_nkwZQQ_armrsZ1QQ_fromZQQ_mdoZ"
              >check out my other auctions</a
            ></strong
          >.
        </p>
      </div>

      <div class="ebay-listing__shipping">
        <h3 class="ebay-listing__heading">Shipping</h3>
        <p>
          All packages are shipped via a tracked delivery service either via dpd
          or a similar courier. Please note all serial numbers are recorded
          prior to the item being dispatched.
        </p>
        <p>
          <strong
            >No International shipping or collection so please don't
            ask.</strong
          >
        </p>
      </div>
    </div>
  </div>

  <div class="ebay-listing__footer">
    Designed by <span>Creative Developments.net</span>
  </div>
</div>
