// NOTE: paste generated css in ebay listing after html - [only works with firefox]
@mixin borders {
  border: solid 1px #c7c7c7;
}

@mixin headingFont {
  font-family: Palatino, 'Palatino Linotype', 'Lucida Sans Unicode', 'Lucida Grande', Garuda,
    sans-serif;
}

@mixin titleGradient {
  background: linear-gradient(to bottom, #3664ae 0%, #1e2d5f 100%);
}

@mixin secondaryGradient {
  background: linear-gradient(#fff, #d3d3d3);
}

.ebayListing {
  font-family: tahoma, arial, serif;
  font-size: 16px;
  margin: 0 auto;
  color: #000;

  a {
    color: #000;
    text-decoration: underline;
  }

  ul,
  li {
    margin: 0;
    padding: 0;
  }

  .heading {
    font-size: 22px;
    padding: 10px;
    text-align: center;
    margin: 0;
    color: #fff;
    @include titleGradient;
    @include headingFont;
    font-weight: normal;
    border-radius: 10px 10px 0 0;
  }

  .h1 {
    text-transform: uppercase;
    @include borders;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  p,
  ul {
    margin: 20px 0 0 0;
    padding: 0;
  }

  li {
    margin: 0 0 0 12px;
  }

  .wrapper {
    display: grid;
    grid-template-columns: auto;
    gap: 20px;

    @media only screen and (min-width: 800px) {
      grid-template-columns: auto auto;
    }
  }

  .note {
    color: #f30f0f;
    font-weight: bold;
  }

  .content {
    padding: 0 20px 20px 20px;
    @include secondaryGradient;
    @include borders;
    border-radius: 0 0 10px 10px;
  }

  .spacer {
    margin-bottom: 20px;
  }

  .footer {
    text-align: right;
    @include titleGradient;
    @include borders;
    padding: 10px;
    color: #fff;
    font-size: 18px;

    span {
      color: #b5d443;
      padding-left: 5px;
      @include headingFont;
    }
  }

  .link {
    overflow-wrap: anywhere;
  }
}
