@use 'styles';

@mixin headingFont {
  font-family: styles.$font-family-palatino;
}

@mixin secondaryGradient {
  background: linear-gradient(#fff, #d3d3d3);
}

.generator {
  display: grid;
  grid-template-columns: max-content auto max-content;
  align-items: end;
  gap: 40px;
  margin-bottom: 40px;
}

.ebayListing {
  font-family: tahoma, arial, serif;
  font-size: 16px;
  margin: 0 auto;
  color: #000;

  //* {
  //  -ms-filter: invert(0);
  //  filter: invert(0);
  //}

  a {
    color: #000;
    text-decoration: underline;
  }

  ul,
  li {
    margin: 0;
    padding: 0;
  }

  .heading {
    font-size: 22px;
    padding: 10px;
    text-align: center;
    margin: 0;
    color: #fff;
    @include headingFont;
    font-weight: bold;
    border-radius: 10px 10px 0 0;

    &.poke_gems {
      background: linear-gradient(180deg, styles.$poke_gems_base 0%, styles.$poke_gems_deep 100%);
    }

    &.tcg_gems {
      background: linear-gradient(180deg, styles.$tcg_gems_base 0%, styles.$tcg_gems_deep 100%);
      color: #000;
    }

    &.poke_relics {
      background: linear-gradient(
        180deg,
        styles.$poke_relics_base 0%,
        styles.$poke_relics_deep 100%
      );
    }
  }

  .h1 {
    text-transform: uppercase;
    border-radius: 10px;
    margin-bottom: 20px;
    font-weight: bold;
  }

  p,
  ul {
    margin: 20px 0 0 0;
    padding: 0;
  }

  li {
    margin: 0 0 0 12px;
  }

  .wrapper {
    display: grid;
    grid-template-columns: auto;
    gap: 20px;

    @media only screen and (min-width: 800px) {
      grid-template-columns: auto 40%;
    }
  }

  .note {
    color: #f30f0f;
    font-weight: bold;
  }

  .card {
    border-radius: 10px;
    @include secondaryGradient;
  }

  .content {
    padding: 0 20px 20px 20px;
  }

  .spacer {
    margin-bottom: 20px;
  }

  .footer {
    text-align: right;
    padding: 10px;
    color: #fff;
    font-size: 18px;

    span {
      color: #b5d443;
      padding-left: 5px;
      @include headingFont;
    }
  }
}
