.ebay-listing {
  font-family: tahoma, arial;
  font-size: 14px;
  margin: 0 auto;
  color: #000;
}

.ebay-listing a {
  color: #000;
  text-decoration: underline;
}

.ebay-listing p,
.ebay-listing ul {
  margin: 0;
  padding: 0 15px 15px;
}

.ebay-listing li {
  margin: 0 0 0 20px;
}

.ebay-listing__heading {
  font-size: 20px;
  padding: 10px;
  text-align: center;
  margin: 0 0 15px;
  color: #fff;
  font-weight: normal;
}

.ebay-listing__heading,
.ebay-listing__footer {
  background: linear-gradient(to bottom, #666 0%, #303030 100%);
}

.ebay-listing__heading,
.ebay-listing__footer span {
  font-family: Palatino, 'Palatino Linotype', 'Lucida Sans Unicode', 'Lucida Grande', Garuda, sans-serif;
}

.ebay-listing__h1,
.ebay-listing__main-section,
.ebay-listing__payment,
.ebay-listing__shipping,
.ebay-listing__footer {
  border: solid 1px #c7c7c7;
}

.ebay-listing__h1 {
  text-transform: uppercase;
}

.ebay-listing__main-section,
.ebay-listing__payment,
.ebay-listing__shipping {
  background: linear-gradient(#fff, #d3d3d3);
}

.ebay-listing__wrapper {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 600px) {
  .ebay-listing__wrapper {
    flex-direction: row;
  }
}

@media only screen and (min-width: 600px) {
  .ebay-listing__main-section {
    margin-right: 15px;
  }
}

.ebay-listing__main-section,
.ebay-listing__payment,
.ebay-listing__shipping {
  margin-bottom: 15px;
}

.ebay-listing__sub-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ebay-listing__footer {
  text-align: right;
  padding: 10px;
  color: #fff;
  font-size: 18px;
}

.ebay-listing span {
  color: #b5d443;
  padding-left: 5px;
}
